@import './../colors.scss';
#enroll {
    display: flex;
    h2 {
        color: $dark-grey;
    }
    .how-to {
        background-color: $off-white-grey;
        padding: 24px;
        color: $cool-teal;
    }
    .btn-primary {
        color: $ghost-white;
        background-color: #8b2ff6;
        //border-color: $cool-teal;
    }
    .btn-primary:hover {
        background-color: $bright-green;
        border-color: $bright-green;
    }
    .btn-link {
        color: $cool-teal;
        background-color: #1741db;
        color: $ghost-white;
        margin-left: 125px;
    }
    .btn-link:hover {
        background-color: $bright-green;
        border-color: $bright-green;
    }
}