@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './../colors.scss';
#customer {
    //width: 100% !important;
    // color: $dark-grey;
    // .table-div {
    //     overflow: scroll;
    //     min-height: 200px;
    // }
    .mat-header-cell {
        font-size: 15px;
        font-weight: bold;
        color: black;
        background-color: #f1f1f1;
        //display: flex;
        //justify-content: flex-end;
    }
}